* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile img {
    width: 80px; /* Adjust as needed */
    height: 80px; /* Adjust as needed */
    border-radius: 50%; /* Makes the image round */
    margin-right: 20px; /* Spacing between image and text */
}

header h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.5em;
}

section {
    padding: 40px 0;
}

h2 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 20px;
}

p {
    font-size: 1.1em;
    text-align: center;
}

.portfolio-item {
    margin-bottom: 30px;
    text-align: center;
}

.portfolio-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.portfolio-item h3 {
    margin-top: 10px;
    font-size: 1.5em;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
